body{
    font-family: 'sans-serif';
    font-size:20px;
}
.bgcolor{
    
    background-color: #c8d8e4;
    
}
.bg-side{
    background-color: #2b6777;
    
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color:white !important;
}

body{
    overflow-x:hidden;
}

.contact{
    padding: 4%;
    height: 400px;
}
.left-form{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.right-form{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.row-color{
    background-color: rgb(12, 100, 12)!important; 
    
}

.rotate > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.head-color th {
    background-color: rgb(12, 163, 80);
   
}