
{% extends "base.html" %}
{% load static %}
{# load crispy_forms_tags #}
{% block content %}
  <div class="container-fluid bgcolor">
  <div class="container mt-3">
    <div class="row ">
      <div class="col-md-6">
        Process/Product Name:<u>{{proc1.process}}</u>
      </div>
      <div class="col-md-6">
        Prepared By: <u>{{proc1.preparedBy}}	</u>	
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6">
        Responsible: <u>{{proc1.responsible}}</u>
      </div>
      <div class="col-md-6">
        FMEA Date (Orig.): <u>{{proc1.date }}	</u>	
      </div>
    </div>
  </div>
      <div class="row mt-3">
        
          <a href="{% url 'fmeaprocess' %}"><button class="btn btn-warning text-right">Add New</button></a>
        
      </div>
      <div class="card  m-5 p-3" >
          <div class="table-responsive">
              <table class="table table-striped mt-3" id="table_id" >
                  <thead class="thead-dark">
                    <tr>
                       <th>Type</th>
                       <th>Process Step/Input</th>
                       <th>Potential Failure Mode</th>
                       <th>Potential Failure Effects</th>
                       <th class="row-color">Severity (1 - 10)</th>
                       <th>Potential Causes</th>
                       <th class="row-color">Occurence (1 - 10)</th>
                       <th>Current Controls</th>
                       <th class="row-color">Detection (1 - 10)</th>
                       <th>RPN</th>
                       <th>Action Recommended</th> 
                       <th>Resp.</th>
                       <th>Actions Taken</th>
                       <th>Tracker</th>
                       <th>Risk Level</th>
                       <th>Status</th>
                       <th>Severity</th>
                       <th>Occurence</th>
                       <th>Detection</th>
                       <th>Final RPN</th>
                       <th>Edit</th>
                       <th>view</th>

                      </tr>
                    </thead>
                    <tbody>
                     
                          {% for data in dataset %}
                          <tr>
                              <td>{{data.processType}}</td>
                              <td>{{data.processStep}}</td>
                              <td>{{data.potentialFaliureMode}}</td>
                              <td>{{data.potentialFailureEffect}}</td>
                              <td class="row-color">{{data.severity}}</td>
                              <td>{{data.potentialCause}}</td>
                              <td class="row-color">{{data.occurence}}</td>
                              <td>{{data.currentControls}}</td>
                              <td class="row-color">{{data.detection}}</td>
                              <td>{{data.rpn}}</td>
                              <td>{{data.actionRecommended}}</td>
                              <td>{{data.responsiblePerson}}</td>
                              <td>{{data.actionTaken}}</td>
                              <td>{{data.reference}}</td>
                              <td>{% if data.riskLevel <= 20 %}
                                   Low
                                   {% elif data.riskLevel > 20 and data.riskLevel <= 60 %}
                                   Medium
                                   {% elif data.riskLevel <= 60  %}
                                   High
                                   {% endif %} 

                              </td>
                              <td>{{data.status}}</td>
                              <td>{{data.finalSeverity}}</td>
                              <td>{{data.finalOccurence}}</td>
                              <td>{{data.finalDetection}}</td>
                              <td>{{data.finalRPN}}</td>
                              <td><a class="btn" style="background-color:#52ab98;" href="/fmea/update/{{ data.id }}">Edit</a></td>
                              <td><a class="btn" style="background-color:#52ab98;" href="/fmea/show/{{ data.id }}">View</a></td>
                            
                          </tr>

                          {% endfor %}
                    </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}

